<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Ralston Ratin Kumar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/font-awesome.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/static/css/style.css" rel="stylesheet">
	</head>
	<body>
<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">


            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
            </div>
            <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">

                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">
                    <form class="navbar-form navbar-left">
                        <div class="input-group input-group-sm" style="max-width:360px;">
                          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                      <li>
                        <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
                      </li>
                      <li>
                        <a href="#"><i class="glyphicon glyphicon-envelope"></i>Contact</a>
                      </li>
                      <li>
                        <a href="#"><i class="glyphicon glyphicon-plus"></i> Work</a>
                      </li>


                    </ul>
                    
                  	</nav>
                </div>
                <!-- /top nav -->

                <div class="padding">
                    <div class="full col-sm-12">

                        <!-- content -->
                      	<div class="row">

                         <!-- main col left -->
                            <div class="col-md-8 col-xs-10">
                              <div class="well panel panel-default">
                                <div class="panel-body">
                                  <div class="row">
                                    <!--/col-->
                                    <div class="col-xs-12 col-sm-8">
                                      <h2>Ralston Ratin Kumar</h2>
                                      <p><strong>About: </strong> ComputerScience Graduate from NUS </p>
                                      <p><strong>Interests: </strong>Learn new things. </p>
                                      <p><strong>Skills: </strong>

                                          <span class="label label-info tags">Java</span>
                                          <span class="label label-info tags">Django Python</span>
                                        <span class="label label-info tags">html5</span>
                                        <span class="label label-info tags">css3</span>
                                        <span class="label label-info tags">jquery</span>
                                        <span class="label label-info tags">bootstrap3</span>
                                          <span class="label label-info tags">Ajax</span>
                                          <span class="label label-info tags">SQL</span>
                                          <span class="label label-info tags">Cloud</span>
                                      </p>
                                    </div>
                                      <div class="col-xs-12 col-sm-4 text-center">
                                      <img src="http://qph.is.quoracdn.net/main-thumb-43796298-200-akdzdrfpiumaaxnozcmvpvfpeowbicis.jpeg" alt="" class="img-thumbnail">
                                          <div class="col-xs-12 col-sm-2">
                                      <a class="btn btn-social-icon btn-twitter">
                                          <i class="fa fa-twitter"></i>
                                      </a>
                                    </div>
                                    <!--/col-->
                                    <div class="col-xs-12 col-sm-2">
                                      <a class="btn btn-social-icon btn-facebook">
                                          <i class="fa fa-facebook"></i>
                                      </a>
                                    </div>
                                    <!--/col-->
                                    <div class="col-xs-12 col-sm-2">
                                    <a class="btn btn-social-icon btn-github">
                                          <i class="fa fa-github"></i>
                                      </a>
                                    </div>
                                      <div class="col-xs-12 col-sm-2">
                                    <a class="btn btn-social-icon btn-linkedin">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                    </div>
                                           <div class="col-xs-12 col-sm-2">
                                    <a class="btn btn-social-icon btn-google-plus">
                                          <i class="fa fa-google-plus"></i>
                                      </a>
                                    </div>
                                    </div>

                                      <!--/col-->
                                    <div class="clearfix"></div>

                                    <!--/col-->
                                  </div>
                                  <!--/row-->
                                </div>
                                <!--/panel-body-->
                              </div>
                              <!--/panel-->
                                 <div class="panel panel-default">
                                 <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4> Work Experience</h4></div>
                                  <div class="panel-body">
                                    <p><img src="http://www.infosys.com/SiteCollectionImages/media-resources/infosys-logo-baseline-PNG.png" class="img-square pull-right" width="150px" height="65px"> <h4>Software Engineer</h4>
                                      <h4>June 2011- Dec 2013</h4></p>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <h4>Hybris Developer</h4>

                                    <p>Responsible for Shopping cart and checkout functionality of the website (An E commerce site for Danish chain of hypermarkets).Used Java Spring framework concepts coupled with JSP,JavaScript,HTML/CSS and advanced J2EE concepts through Hybris Framework.</p>
                                    <hr>
                                    <h4>Adobe CQ5 Developer</h4>

                                    <p>Involved design phase,Configuring the environments,creation of templates,components,workflows,user group management,content authoring,Creating java pages</p>
                                    <hr>
                                    <h4>Compliance Officer</h4>

                                    <p>Additional responsibility which involved handling the whole offshore development center of Chennai DC for an US Client for its compliance related activities.</p>

                                  </div>
                               </div>
                            </div>
                            <div class="col-sm-3">

                              <div class="panel panel-default">
                                  <a class="twitter-timeline" href="https://twitter.com/ralston26" data-widget-id="577768988370845697">Tweets by @ralston26</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                              </div>

                          </div>

                          <!-- main col right -->


                        <div class="row" id="footer">
                          <div class="col-sm-6">






                      <p class="text-center">
                      <a href="" target="ext">©Copyright ralston 2015</a>
                      </h4>

                      </p>


                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->

        </div>
    </div>
</div>


<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			Update Status
      </div>
      <div class="modal-body">
          <form class="form center-block">
            <div class="form-group">
              <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div>
          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
            <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
		  </div>
      </div>
  </div>
  </div>
</div>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>